grafana:
  version: '1.8.0'
  config:
    datasources:
      graphite:
        type: 'graphite'
        url: 'http://graphite.domain.com'
      elasticsearch:
        type: 'elasticsearch'
        url: 'http://elasticsearch.domain.com'
        index: 'grafana-dash'
        grafanaDB: true
      search:
        max_results: 20
      default_route: '/dashboard/file/default.json'
      unsaved_changes_warning: true
      playlist_timespan: "1m"
      admin:
        password: ''
      window_title_prefix: 'Grafana - '
      plugins:
        panels: []
        dependencies: []
  http:
    type: httpd