{% from "grafana/map.jinja" import grafana with context -%}
{% if grafana.http.type == 'httpd' -%}
Alias /grafana /etc/grafana

<Location /grafana>
 Order deny,allow
 Allow from 127.0.0.1
 Allow from ::1
 Allow from all
</Location>
{% elif grafana.http.type == 'nginx' -%}
auth_basic            "Restricted";
auth_basic_user_file  /path/to/my/htpasswd/file;

if ($http_origin ~* (https?://[^/]*\.somedomain\.com(:[0-9]+)?)) {  #Test if request is from allowed domain, you can use multiple if
    set $cors "true";                                               #statements to allow multiple domains, simply setting $cors to true in each one.
}

if ($cors = 'true') {
    add_header  Access-Control-Allow-Origin $http_origin;           #this mirrors back whatever domain the request came from as authorized, as
    add_header  "Access-Control-Allow-Credentials" "true";          #as long as it matches one of your if statements
    add_header  "Access-Control-Allow-Methods" "GET, OPTIONS";
    add_header  "Access-Control-Allow-Headers" "Authorization, origin, accept";
}
{% endif -%}